/*Reset semua margin dan padding*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --warna_gradasi_1: linear-gradient(10deg, #ff0080, #ee00ff);
}

a{
    color: inherit;
    text-decoration: none;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    display: flex;
    width: 100%;
    background-image: var(--warna_gradasi_1);
    box-shadow: 0 2px 1em #ff0080;
    padding: 1em 0;
}

.nav-logo{
    flex: 1;
    padding: 0;
}

.nav-img{
    color: white;
    margin: auto;
    width: fit-content;
    padding: 0;
}

.nav-img a{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
}

nav ul{
    flex: 9;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    margin: auto;
}

nav ul .nav-item{
    color: white;
    font-size: 1em;
    display: inline-block;
    padding: 0.5em .75em;
    align-self: center;
    transition: all .25s ease;
}

nav ul .nav-item:hover{
    border-radius: .5em;
    background-color: rgba(0,0,0, .7);
    color: #ff0080;
}

main{
    display: flex;
    padding: 1em;
}

main *{
    margin: 10px 2em 10px 10px;
}

#content{
    flex: 7;
}

.cta-container{
    color: #ff0080;
    margin: 0;
    padding: 10em 0;
    width: 100%;
    background-color: transparent;
    background-image: url("https://image.freepik.com/free-vector/development-concept-illustration_114360-562.jpg");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
}

.cta-btn{
    color: white;
    width: fit-content;
    padding: .5em 1em;
    border-radius: 2em;
    border: 2px solid #ff0080;
    background-color: #ff0080;
    transition: all .1s linear;
}

.cta-btn a{
    margin: 0;
}

.cta-btn:hover{
    color: #ff0080;
    background-color: white;
    border-color: #ff0080;
}

.cta-btn:hover a{
    text-decoration: underline;
}


main aside{
    position: sticky;
    top: 8em;
    flex: 2;
    box-shadow: 0 0 5px 0 #ee00ff;
    border-radius: .5em;
    margin: 0;
    text-align: center;
    height: fit-content;
}

main article{
    background: white;
    margin: 3em 0;
    border-radius: .5em;
    min-height: 5em;
    box-shadow: 0 0 5px 0 #ff0080;
    padding: 3em .5em;
}

article h1{
    color: #ff0080;
    font-size: 3em;
    padding: 0 1em .1em;
    margin: 0 auto .5em;
    width: fit-content;
    border-bottom: 2px solid #ff0080;
    text-align: center;
}

article p{
    width: 60%;
    margin: 1em auto;
    text-align: center;
}

.about-me-img{
    width: fit-content;
    padding: 0;
    margin: auto;
}

.about-me-img img{
    margin: auto;
    height: 25em;
}

.article-sec{
    margin: auto 1em;
}

.skills-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.skill-item{
    margin: 5px;
    width: 30%;
    border: 1px solid gray;
    transition: all .1s ease-in-out;
}

.skill-item i{
    margin-right: 1em;
}

.aside-avatar{
    width: 8em;
    border-radius: 50%;
    border: .5em solid #ff0080;
    box-shadow: 0 0 5px 0 #ff0080;
    margin: 1em auto;
}

.aside-info{
    margin: 0 auto;
    padding: 0;
}

.aside-info *{
    margin: 0;
    width: 100%;
    text-align: center;
}

.aside-info h4{
    border-bottom: .25em solid #ee00ff;
    width: 60%;
    margin: 0 auto;
    padding: 0 1em;
    font-size: 100%;
}

.aside-info p{
    width: 70%;
    font-size: x-small;
    margin: 2em auto;
}

.socmed{
    display: flex;
    color: white;
    background-color: #ee00ff;
    width: 50%;
    margin: 0 auto .75em;
    padding: .25em .5em;
    border-radius: .5em;
    border: .2em solid #ee00ff;
}

.socmed *{
    margin: 0;
    padding: .25em;
    width: fit-content;
    flex: 1;
}

.socmed i{
    font-size: 1em;
}

.socmed:hover{
    background-color: white;
    color: rgba(238, 0, 255, .5);
}

.socmed i:hover{
    color: white;
    background-color: #ee00ff;
    border-radius: .25em;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 0;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex: 25%;
    margin: 20px;
    padding: 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-illustration{
    margin: 0;
    padding: 0;
    background-color: rgba(255, 0, 128, .4);
    transition: all 0.3s;
}

.card-illustration:hover{
    background-color: white;
}

.card-illustration i{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 10em;
    width: 100%;
}

.card-illustration:hover .fa-html5{
    color: orangered;
}

.card-illustration:hover .fa-css3-alt{
    color: dodgerblue;
}

.card-illustration:hover .fa-js{
    color: yellow;
}

.card-text{
    padding: 1em 0;
    width: fit-content;
    margin: auto;
}

.card-text p{
    width: 80%;
    font-size: .8em;
    text-align: center;
    margin: 0 auto;
}

.card:hover .card-text{
    background-color: #ff0080;
    color: white;
}

table{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 2em auto;
    font-size: .8em;
    word-break: break-word;
    text-align: center;
}

table td, table th{
    border: 1px solid #ddd;
    padding: 8px;
}

table td *, table th *{
    margin: auto;
}

table tr:nth-child(even){background-color: rgba(255,0,128, .2);}

table tr:hover{background-color: #ddd;}

table tr:nth-child(even):hover{background-color: rgba(255,0,128, .5);}

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff0080;
    color: white;
}

#tampilkan-btn-wrapper{
    width: fit-content;
    margin: auto;
}

.btn-default{
    cursor: pointer;
    outline: none;
    margin: 0;
    border-radius: .5em;
    padding: .5em;
    color: white;
    font-size: 1em;
    background-color: rgba(255,0,128, .7);
    box-shadow: 0 .5em rgba(255,0,128, 1);
    border: none;
}

.btn-default:active{
    box-shadow: none;
    transform: translateY(.5em);
}

p span#banyak-pokemon{
    margin: 0;
    color: #ff0080;
    text-decoration: underline;
}

#poke-num{
    display: block;
    width: 50%;
    height: 1em;
    margin: 20px auto;
    -webkit-appearance: none;
    outline: none;
    background: rgba(255,0,128, .4);
    border-radius: 1em;
}

#poke-num::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid rgba(255,0,128,1);
    box-shadow: 0 2px 1em #ff0080;
}

footer{
    background-color: rgba(255, 0, 128, .7);
    display: flex;
    flex-direction: column;
}

footer .nav-logo{
    border-bottom: 5px solid white;
    width: 20%;
    margin: 0 auto;
}

footer .nav-logo .nav-img{
    padding: 0;
    margin: 0 auto;
    font-size: 3em;
    font-family: 'Teko', sans-serif;
}

footer ul{
    color: white;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 60%;
    margin: 1em auto 0;
}

footer ul .nav-item{
    flex: 25%;
    margin: auto;
}

.copyright{
    width: 100%;
    text-align: center;
    color: white;
    font-size: .8em;
    margin: 2em auto;
}

/*SKILL ITEMS BACKGROUND ON HOVER*/

.skill-item:hover{
    color: white;
}

.html5:hover{background-color: orangered; border-color: orangered;}

.css3:hover{background-color: dodgerblue; border-color: dodgerblue;}

.js-es6:hover{background-color: yellow; border-color: yellow;}

.bootstrap:hover{background-color: rebeccapurple; border-color: rebeccapurple;}

.php:hover{background-color: mediumpurple; border-color: mediumpurple;}

.MySQL:hover{background-color: cornflowerblue; border-color: cornflowerblue;}

.MongoDB:hover{background-color: forestgreen; border-color: forestgreen;}

.NodeJS:hover{background-color: yellowgreen; border-color: yellowgreen;}

.npm:hover{background-color: red; border-color: red;}

.yarn:hover{background-color: aqua; border-color: aqua;}

.react:hover{background-color: lightskyblue; border-color: lightskyblue;}

.AWS:hover{background-color: orange; border-color: orange;}

.python:hover{background-color: royalblue; border-color: royalblue;}

.java:hover{background-color: chocolate; border-color: chocolate;}

.android:hover{background-color: lightgreen; border-color: lightgreen;}

.ar-vr:hover{background-color: purple; border-color: purple;}

.unity:hover{background-color: black; border-color: black;}



/*Navigasi mobile phone*/
#mobile-nav{
    z-index: 2;
    position: fixed;
    bottom:-40%;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    border-radius: 2em 2em 0 0;
}

#mobile-nav ul{
    display: flex;
    flex-direction: column;
}


/*Floating Hamburger Button*/
#mobile-hamburger{
    color: white;
    background: #ff0080;
    border: none;
    box-shadow: 0 2px 1em #ff0080;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    outline: none;
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 1;
    padding: 0;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    cursor: pointer;
    transform: translate(50%, 50%);
    display: none;
}

.hamburger-icon{
    margin: auto 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.garis{
    margin: 3px auto;
    width: 50%;
    height: 2px;
    background-color: white;
}



